.search-bar {
    display: flex;
    align-items: center;
    background: var(--color-surface);
    border: 1px solid var(--color-secondary);
    border-radius: 10px;
    padding: var(--space-xs) var(--space-sm);
    transition: border-color var(--transition-speed);
    
  
    &__input {
      background: none;
      border: none;
      outline: none;
      color: var(--color-text);
      font-size: 1rem;
      flex: 1;
      padding: 10px;
  
      &::placeholder {
        color: var(--color-text-secondary);
      }
    }
  
    &:focus-within {
      border-color: var(--color-primary);
    }
  }
  