.home {
    padding: var(--space-lg);
    background: var(--color-bg);
    min-height: calc(100vh - 80px); /* Ajusta según altura de Header */
  
    &__list {
      margin-top: var(--space-lg);
    }
  }