.header {
    background-color: var(--color-surface);
    padding: var(--space-md) var(--space-lg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
  
    &__logo {
      all: unset;
      cursor: pointer;          
      background-color: var(--color-surface);  
      .header__logo-text {     
        font-size: 1.5rem;
        color: var(--color-text);
      }
    }
  
    &__nav {
      display: flex;
      align-items: flex-start;
    }
  
    &__cart {
      background: none;
      border: none;
      font-size: 1.5rem;
      color: var(--color-text);
      cursor: pointer;
      transition: color var(--transition-speed);
  
      &:hover {
        color: var(--color-secondary);
      }
    }

    &__cart__badge {
      color: var(--color-text);
      background-color: red;
      font-size: 0.6rem;
      width: 17px;
      height: 17px;
      display: flex;
      align-items: center;
      justify-content:center;
      border-radius: 50%;
    }
  }
  